@{
    ViewData["Title"] = ViewBag.PageTitle;
}

<!--
            Config para usar o arquivo RESX, um arquivo para cada idioma
            @inject IStringLocalizer<SharedResource> Localizer
-->

<!-- Config para usar o arquivo json, um único arquivo com todos os idiomas -->
@inject IStringLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome_Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
</div>
